
.sidebar,
.sidebar-toggle:active,
#sidebar-checkbox:checked ~ .sidebar-toggle{
    background-color: #01ab9d;
}

.sidebar-item{
    padding: 20px;
}

.sidebar-item .welcome{
    margin: 0;
    height: 40px;
    color: white;
    font-size: 16px;
}

.sidebar-item .welcome img{
    height: 100%;
    display: inline-block;
    margin: 0 4px 0 0;
    vertical-align: middle;
}

.sidebar-item .welcome span{
    vertical-align: middle;
}

.page .title{
    font-size: 24px;
}

.page .note{
    font-size: 18px;
}
