<<<<<<< HEAD

.sidebar-item{
    padding: 20px;
}

.sidebar-item .welcome{
    margin: 0;
    height: 40px;
    color: white;
    font-size: 16px;
}

.sidebar-item .welcome img{
    height: 100%;
    display: inline-block;
    margin: 0 4px 0 0;
    vertical-align: middle;
}

.sidebar-item .welcome span{
    vertical-align: middle;
=======
@import url(https://fonts.googleapis.com/css?family=Cuprum);
html,
h1, h2, h3, h4, h5, h6,
.sidebar {
  font-family: 'Cuprum', sans-serif;
>>>>>>> 93f5d465de23fc8aa1ee3e4cd97ab4408ee7e057
}
